.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 38px;

  .apropos__header {
    width: 100%;
    max-width: 1240px;
    height: 223px;
    border-radius: 25px;
    background: #000;
    mix-blend-mode: darken;

    .container__image {
      width: 100%;
      height: 100%;
      border-radius: 25px;
      object-fit: cover;
      opacity: 0.5;
    }
  }

  .charte {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1023px;
    gap: 30px;
    margin-bottom: 38px;
  }
}

@media (max-width: 760px) {
  .home {
    gap: 19px;

    .apropos__header {
      height: 111px;
      border-radius: 10px;
    }

    .charte {
      gap: 20px;
      margin-bottom: 19px;
    }
  }
}
