.collapse__element {
  width: 100%;
  background: #ff6060;
  color: #fff;
  border-radius: 5px;

  .collapse__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 500;
    border-radius: 5px;
    padding: 10px 20px 10px 15px;
  }

  .arrow {
    width: 32px;
    height: 32px;
    transition: transform 0.1s ease-in-out;
    cursor: pointer;
  }

  .expanded {
    transform: rotate(-180deg);
  }

  .collapse-text {
    width: auto;
    overflow: hidden;
    display: none;
    padding: 20px;
    background: #f6f6f6;
    padding: 16px 20px 20px 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;

    p {
      margin: 0;
      color: #ff6060;
      font-family: 'Montserrat';
      font-size: 18px;
      font-weight: 400;
    }
  }

  .collapse-text.active {
    display: flex;
    max-height: 500px;
    transition: max-height 5s ease-in-out;
  }
}

@media (max-width: 768px) {
  .collapse__element {
    .collapse__header {
      height: 30px;
      padding: 10px;
      font-size: 13px;
    }

    .collapse-text {
      p {
        font-size: 12px;
      }
    }
  }
}
