details {
  width: 100%;
  background: #ff6060;
  color: #fff;
  border-radius: 5px;

  summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px 10px 15px;

    span {
      font-family: 'Montserrat';
      font-size: 24px;
      font-weight: 500;
      border-radius: 5px;
    }

    .arrow {
      width: 32px;
      height: 32px;
      cursor: pointer;
      transform-origin: center;
      transition: transform 0.5s ease-in-out;
    }
  }

  summary::-webkit-details-marker {
    display: none;
  }
}

div.collapse-text {
  width: auto;
  background: #f6f6f6;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.6s ease-in-out;

  p {
    color: #ff6060;
    margin: 0;
    padding: 20px 28px 20px 20px;
  }
}

details[open] + div.collapse-text {
  max-height: 800px;
  transition: max-height 0.6s ease-in-out;
}

details[open] .arrow {
  transform: rotate(-180deg);
}
