.collapse__element {
  width: 100%;
  background: #ff6060;
  color: #fff;
  border-radius: 5px;

  summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 500;
    border-radius: 5px;
    padding: 10px 20px 10px 15px;
    cursor: pointer;

    .arrow {
      width: 32px;
      height: 32px;
      transition: transform 0.5s ease-in-out;
    }
  }

  &.open {
    summary .arrow {
      transform: rotate(-180deg);
    }
  }

  .collapse-text {
    width: auto;
    background: #f6f6f6;
    padding: 16px 20px 20px 20px;
    overflow: hidden;
    height: 0;
    visibility: hidden;
    transition: height 0.5s ease-in-out, visibility 0.5s ease-in-out;

    p {
      margin: 0;
      color: #ff6060;
      font-family: 'Montserrat';
      font-size: 18px;
      font-weight: 400;
    }
  }

  &[open] .collapse-text {
    height: 100%;
    visibility: visible;
    transition: height 0.5s ease-in-out, visibility 0.5s ease-in-out;
  }
}

@media (max-width: 768px) {
  .collapse__element {
    summary {
      height: 30px;
      padding: 10px;
      font-size: 13px;
    }

    .collapse-text {
      p {
        font-size: 12px;
      }
    }
  }
}
